@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Google Sans Display";
  src: url("../fonts/Google Sans Display/GoogleSansDisplay-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Google Sans Display";
  src: url("../fonts/Google Sans Display/GoogleSansDisplay-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Google Sans Display";
  src: url("../fonts/Google Sans Display/GoogleSansDisplay-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Google Sans Display";
  src: url("../fonts/Google Sans Display/GoogleSansDisplay-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Google Sans Display";
  src: url("../fonts/Google Sans Display/GoogleSansDisplay-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Google Sans Display";
  src: url("../fonts/Google Sans Display/GoogleSansDisplay-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Google Sans Text";
  src: url("../fonts/Google Sans Text/GoogleSansText-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Google Sans Text";
  src: url("../fonts/Google Sans Text/GoogleSansText-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Google Sans Text";
  src: url("../fonts/Google Sans Text/GoogleSansText-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Google Sans Text";
  src: url("../fonts/Google Sans Text/GoogleSansText-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Google Sans Text";
  src: url("../fonts/Google Sans Text/GoogleSansText-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Google Sans Text";
  src: url("../fonts/Google Sans Text/GoogleSansText-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Google Sans Text", sans-serif;
}

.display,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Google Sans Display", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body,
header,
aside {
  @apply duration-200 ease-in-out text-zinc-800 dark:text-zinc-200;
}

body > div {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
